<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<title>Comparador de precios</title>
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<link rel='stylesheet' type='text/css' media='screen' href='index.css' />
	</head>
	<body>
		<h1>Comparador de casas de cambio</h1>
		<div class='exchanges__container'>
			{{#each exchange}}
				<div class='card__container'>
					<h3 class='card__title'>{{name}}</h3>
					<section class='card__prices'>
						<div class='card__price__container'>
							<h4>
								Venta:
							</h4>
							<p>
								{{sellPrice}}
							</p>
						</div>
						<div class='card__price__container'>
							<h4>
								Compra:
							</h4>
							<p>
								{{buyPrice}}
							</p>
						</div>
					</section>
				</div>
			{{/each}}
		</div>
	</body>
</html>