@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
}

.exchanges__container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.card__container {
	border: solid 1px black;
	width: max-content;
	border-radius: 8px;
}

.card__title {
	text-align: center;
	margin: 10px;
}

.card__prices {
	text-align: center;
}

.card__price__container {
	height: 40px;
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
